body{
  background-color: #50514F;
}

section{
  display: flex;
}

.cadastro-notas{
  width: 30%;
  min-width: 30%;
}

.cadastro-notas form{
  flex-direction: column;
  display: flex;
}

html, body, #root, #root>div, section {
  height: 100%
}