form{
  height: 100%;
  margin-left: 10px;
  position: fixed;
  width: 400px;
}
input{
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #333533;
  color: #526B75;
}
textarea{
  color: #526B75;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  min-height: 90%;
  max-height: 90%;
  background-color: #333533;
  resize: none;
}
button{
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}
html{
  height: 100%;
}
